
<body>
<h2 class='lead'><center><bold>{{result}}</bold></h2>
<br/>
<br/>
<img src="../static/glioma2.jpg" alt="logo" width="700" height="400" style="  border: 1px solid #ddd; border-radius: 4px; padding: 5px;">
<br/>
<br/>
<br/>
<div style="max-width:700px; margin:auto">
Glioma is a type of tumor that occurs in the brain and spinal cord. Gliomas begin in the gluey supportive cells (glial cells) that surround nerve cells and help them function.
</div>
<br/>
<div style="max-width:700px; margin:auto">
Three types of glial cells can produce tumors. Gliomas are classified according to the type of glial cell involved in the tumor, as well as the tumor's genetic features, which can help predict how the tumor will behave over time and the treatments most likely to work.
</div>
<br/>
<div style="max-width:700px; margin:auto">
Types of glioma include:
</div>
<br/>
<div style="max-width:700px; margin:auto">
  <ul>
    <li>Astrocytomas, including astrocytoma, anaplastic astrocytoma and glioblastoma.</li>
    <li>Ependymomas, including anaplastic ependymoma, myxopapillary ependymoma and subependymoma.</li>
    <li>Oligodendrogliomas, including oligodendroglioma, anaplastic oligodendroglioma and anaplastic oligoastrocytoma.</li>
  </ul>
</div>
<div style="max-width:700px; margin:auto">
A glioma can affect your brain function and be life-threatening depending on its location and rate of growth.
Gliomas are one of the most common types of primary brain tumors.
</div>
<br/>
<div style="max-width:700px; margin:auto">
The type of glioma you have helps determine your treatment and your prognosis. In general, glioma treatment options include surgery, radiation therapy, chemotherapy, targeted therapy and experimental clinical trials.
</div>
<br/>
<br/>
<br>
</body>
