
<body>
<h2 class='lead'><center><bold>{{result}}</bold></h2>
<br/>
<br/>
<img src="../static/menin.jpg" class="img-fluid" alt="logo" style="  border: 1px solid #ddd; border-radius: 4px; padding: 5px;">
<br/>
<br/>
<br/>
<div style="max-width:700px; margin:auto">
A meningioma is a tumor that arises from the meninges — the membranes that surround your brain and spinal cord. Although not technically a brain tumor, it is included in this category because it may compress or squeeze the adjacent brain, nerves and vessels. Meningioma is the most common type of tumor that forms in the head.
</div>
<br/>
<div style="max-width:700px; margin:auto">
Most meningiomas grow very slowly, often over many years without causing symptoms. But sometimes, their effects on nearby brain tissue, nerves or vessels may cause serious disability.
</div>
  <br/>
<div style="max-width:700px; margin:auto">
Meningiomas occur more commonly in women and are often discovered at older ages, but may occur at any age.
</div>
  <br/>
<div style="max-width:700px; margin:auto">
Because most meningiomas grow slowly, often without any significant signs and symptoms, they do not always require immediate treatment and may be monitored over time.
</div>
<br/>
<br/>
<br/>
</body>
