<body>
<h2 class='lead'><center><bold>{{result}}</bold></h2>
<br/>
<br/>
<center><img src="../static/no_tum.jpg" alt="logo" width="700" height="400" style="  border: 1px solid #ddd; border-radius: 4px; padding: 5px;">
<br/>
<br/>
<br/>
<div style="max-width:700px; margin:auto">
Congratulations! You do not have a brain tumor according to us, but we still strongly advice you to visit a Doctor to make sure that you're truly safe.
</div>
<br/>
<div style="max-width:700px; margin:auto">
We'll see you off with a few more advices from our side so that you can be as sharp and healthy as always:
</div>
<br/></center>
<br/>
<div style="max-width:700px; margin-left:300px">
    <ul>
      <li>Exercise regularly</li>
      <br/>
      <li>Get plenty to sleep </li>
      <br/>
      <li>Eat a healthy diet</li>
      <br/>
      <li>Stay mentally active</li>
      <br/>
      <li>Remain socially involved</li>
    </ul>
</div>
<br/>
<br/>
<br/>
</body>
