
<body>
<h2 class='lead'><center><bold>{{result}}</bold></h2>
<br/>
<br/>
<img src="../static/pit.jpeg" alt="logo" width="700" height="400" style="  border: 1px solid #ddd; border-radius: 4px; padding: 5px;">
<br/>
<br/>
<br/>
<div style="max-width:700px; margin:auto">
Pituitary tumors are abnormal growths that develop in your pituitary gland. Some pituitary tumors result in too much of the hormones that regulate important functions of your body. Some pituitary tumors can cause your pituitary gland to produce lower levels of hormones.
</div>
<br/>
<div style="max-width:700px; margin:auto">
Most pituitary tumors are noncancerous (benign) growths (adenomas). Adenomas remain in your pituitary gland or surrounding tissues and don't spread to other parts of your body.
</div>
<br/>
<div style="max-width:700px; margin:auto">
There are various options for treating pituitary tumors, including removing the tumor, controlling its growth and managing your hormone levels with medications. Your doctor may recommend observation — or a ''wait and see'' approach.
</div>
<br/>
<br/>
<br/>
</body>
