{% extends 'base.html' %}

{% block content %}
<head>
</head>
<body>
<br/><br/><br/>
<h1 class="display-5"><center>What is a 🧠 Tumor?</center></h1>
<p class="lead"><center> Let's take a small dive into our brains to learn more</center></p>
<br/>
<center><img src="../static/brain.jpg" alt="logo" width="700" height="400" style="  border: 1px solid #ddd; border-radius: 4px; padding: 5px;"></center>
<br/>
<br/>
<div style="max-width:700px; margin-left:300px;">
<h1 class="lead">Introduction</h1>
<br/>
A brain tumor is a collection, or mass, of abnormal cells in your brain. Your skull, which encloses your brain, is very rigid. Any growth inside such a restricted space can cause problems. Brain tumors can be cancerous (malignant) or noncancerous (benign). When benign or malignant tumors grow, they can cause the pressure inside your skull to increase. This can cause brain damage, and it can be life-threatening.
<br/><br/>
Brain tumors are categorized as primary or secondary. A primary brain tumor originates in your brain. Many primary brain tumors are benign. A secondary brain tumor, also known as a metastatic brain tumor, occurs when cancer cells spread to your brain from another organ, such as your lung or breast.
<br/><br/><br/>
<h1 class="lead">Types of brain tumors</h1>
<br/>
There are mainly 2 types of tumors:
<br/><br/>
<ul>
  <li>Primary Tumors</li>
  <li>Secondary Tumors</li>
</ul>
<br/>
On our webpage, we use Advanced Deep Learning techniques to distinguish between 3 Primary Tumors:
<br/><br/>
<ul>
  <li>Meningioma Tumors</li>
  <li>Glioma Tumors</li>
  <li>Pituitary Tumors</li>
</ul>
<br/>
<h1 class="lead">Primary Brain Tumors</h1>
<br/>
Primary tumors originate in our brains. They can develop from our:
<br/><br/>
<ul>
  <li>Brain cells</li>
  <li>The membranes that surround our brain, which are called meninges</li>
  <li>Nerve cells</li>
  <li>Glands</li>
</ul>
<br/>
Primary tumors can be benign or cancerous. In adults, the most common types of brain tumors are gliomas and meningiomas.
</div>
<br/>
<center><img src="../static/prim_tum.webp" alt="logo" width="700" height="400" style="  border: 1px solid #ddd; border-radius: 4px; padding: 5px;"></center>
<br/><br/>
<div style="max-width:700px; margin-left:300px;">
<h1 class="lead">Secondary Brain Tumors</h1>
<br/>
Secondary brain tumors make up the majority of brain cancers. They start in one part of the body and spread, or metastasize, to the brain. The following can metastasize to the brain:
<br/>
<br/>
<ul>
  <li>Lung Cancer</li>
  <li>Breast Cancer</li>
  <li>Kidney Cancer</li>
  <li>Skin Cancer</li>
</ul>
<br/>
Secondary brain tumors are always malignant. Benign tumors don’t spread from one part of your body to another.
</div>
<br/>
<center><img src="../static/sec_tum.webp" alt="logo" width="700" height="700" style="  border: 1px solid #ddd; border-radius: 4px; padding: 5px;"></center>
<br/>
<div style="max-width:700px; margin-left:300px;">
<br/>
<br/>
<h1 class="lead">What are the risk factors for a brain tumor?</h1>
<br/>
Risk factors for brain tumors include:
<br/>
<br/>
<br/>
<h5>Family History</h5>
<br/>
Only about 5 to 10 percent of all cancers are genetically inherited, or hereditary. It’s rare for a brain tumor to be genetically inherited. Talk to your doctor if several people in your family have been diagnosed with a brain tumor. Your doctor can recommend a genetic counselor for you.
<br/>
<br/>
<br/>
<h5>Age</h5>
<br/>
Risk for most types of brain tumors increases with age.
<br/>
<br/>
<br/>
<h5>Race</h5>
<br/>
Brain tumors in general are more common among Caucasians. However, African-American people are more likely to get meningiomas.
<br/>
<br/>
<br/>
<h5>Chemical exposure</h5>
<br/>
Being exposed to certain chemicals, such as those you might find in a work environment, can increase your risk for brain cancer. The National Institute for Occupational Safety and HealthTrusted Source keeps a list of potential cancer-causing chemicals found in work places.
<br/>
<br/>
<br/>
<h5>Exposure to radiation</h5>
<br/>
People who have been exposed to ionizing radiation have an increased risk of brain tumors. You can be exposed to ionizing radiation through high-radiation cancer therapies. You can also be exposed to radiation from nuclear fallout. The nuclear power plant incidents in Fukushima and Chernobyl are examples of how people can be exposed to ionizing radiation.
<br/>
<br/>
<br/>
<h5>No history of chicken pox</h5>
<br/>
According tothe American Brain Tumor Association, people with a history of childhood chicken pox have a decreased risk of getting brain tumors.
</div>
<br/>
<br/>
<br/>
<div style="max-width:700px; margin-left:300px;">
<h1 class="lead">What are the symptoms of brain tumor?</h1>
<br/>
Symptoms of brain tumors depend on the location and size of the tumor. Some tumors cause direct damage by invading brain tissue and some tumors cause pressure on the surrounding brain. You’ll have noticeable symptoms when a growing tumor is putting pressure on your brain tissue.
<br/><br/>
<center><img src="../static/symptoms.png" alt="logo" width="700" height="700" style="  border: 1px solid #ddd; border-radius: 4px; padding: 5px;"></center>
<br/>
<br/>
Headaches are a common symptom of a brain tumor. You may experience headaches that:
<br/>
<br/>
<ul>
  <li>are worse in the morning when waking up</li>
  <li>occur while you’re sleeping</li>
  <li>are made worse by coughing, sneezing, or exercise</li>
</ul>
<br/>
You may also experience:
<br/>
<br/>
<ul>
  <li>vomiting</li>
  <li>blurred vision or double vision</li>
  <li>confusion</li>
  <li>seizures (especially in adults)</li>
  <li>weakness of a limb or part of the face</li>
  <li>a change in mental health</li>
</ul>
<br/>
The following symptoms can occur with pituitary tumors:
<br/>
<br/>
<ul>
  <li>nipple discharge, or galactorrhea</li>
  <li>lack of menstruation in women</li>
  <li>development of breast tissue in men, or gynecomastia</li>
  <li>enlargement of the hands and feet</li>
  <li>sensitivity to heat or cold</li>
  <li>increased amounts of body hair, or hirsutism</li>
  <li>low blood pressure</li>
  <li>obesity</li>
  <li>changes in vision, such as blurry vision or tunnel vision</li>
</ul>
</div>
<br/>
<br/>
<div style="max-width:700px; margin-left:300px;">
<h1 class="lead">Treatment of brain tumors</h1>
<br/>
The treatment of a brain tumor depends on:
<br/>
<br/>
<ul>
  <li>the type of tumor</li>
  <li>the size of the tumor</li>
  <li>the location of the tumor</li>
  <li>your general health</li>
</ul>
<br/>
<center><img src="../static/treatment.jpg" alt="logo" width="700" height="400" style="  border: 1px solid #ddd; border-radius: 4px; padding: 5px;"></center>
<br/>
<br/>
The most common treatment for malignant brain tumors is surgery. The goal is to remove as much of the cancer as possible without causing damage to the healthy parts of the brain. While the location of some tumors allows for easy and safe removal, other tumors may be located in an area that limits how much of the tumor can be removed. Even partial removal of brain cancer can be beneficial.
<br/>
<br/>
Risks of brain surgery include infection and bleeding. Clinically dangerous benign tumors are also surgically removed. Metastatic brain tumors are treated according to guidelines for the type of original cancer.
<br/>
<br/>
Surgery can be combined with other treatments, such as radiation therapy and chemotherapy.
<br/>
<br/>
Physical therapy, occupational therapy, and speech therapy can help you to recover after neurosurgery.
<br/>
<br/>
<br/>
<br/>
<h1 class="lead">Outlook</h1>
<br/>
The outlook for a brain tumor will depend on:
<br/>
<br/>
<ul>
  <li>the type of tumor</li>
  <li>the size of the tumor</li>
  <li>the location of the tumor</li>
  <li>your general health</li>
</ul>
<br/>
Early treatment can prevent complications that can occur as a tumor grows and puts pressure on the skull and brain tissue. See your doctor if you’re worried about any symptoms you’re experiencing.
</div>
<br/>
<br/>
<br/>
</body>
{% endblock %}
